<!DOCTYPE html>

<html>
<link rel="stylesheet" href="styles.css">
            
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id='wrapper'>
        <div id='image'>
            <img src="nemlogo.png" >
        </div>
        <div id='titulo'>
            <h1> NEM Faucet</h1>
        </div>
        <form action="/" method="post">
            <div id='Address' class='forms'>
                Address: <input name="Address" type="text" /> <br />
            </div>
            <div id='Message' class = 'forms'>
                Message: <input name="Message" type="text" /> <br />
            </div>    
            <div id='button'>
                <button type="submit" >Submit</button>
            </div>
            <div id=fail>
                Transaction Failed - You have to wait
            </div>
        </form>
    </div>  
</body>
</html>